.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#root{

  margin:0;
  padding: 0;
}
.trashCan{
  margin:1%;
}
.target {
  height:200px;
  width:200px;
  border:1px solid black;
  text-align: center;
  float:right;
  margin-right: 2%;
}
.items{
  width:200px;
  padding: 0;
  margin: 0;
  display:inline-block;
  float:left;
}
.Knight{
  width:100px;
  height:20px;
  border:1px solid black;
  margin:10px;
  padding: 2px;
  text-align: center;
}
